{% extends 'base.html' %}
{% load static %}

{% block title %}Calendar | Shift Manager{% endblock %}

{% block active_shift_manage %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button class="btn btn-outline-primary" id="prior">＜</button>
            <span id="monthYear"></span>
            <button class="btn btn-outline-primary" id="later">＞</button>
        </div>
        <table class="table text-center">
            <thead>
                <tr id="day">
                    <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
                </tr>
            </thead>
            <tbody id = "calendar-body">
            </tbody>
        </table>
    </div>
    <div class="row" id="checkbox" style="display: none;">
        <strong id="monthYearTime"></strong>
        <form class="text-center" method="post">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr id="time">
                        <th></th><th>0時</th><th>1時</th><th>2時</th><th>3時</th><th>4時</th><th>5時</th><th>6時</th><th>7時</th><th>8時</th><th>9時</th><th>10時</th><th>11時</th><th>12時</th><th>13時</th><th>14時</th><th>15時</th><th>16時</th><th>17時</th><th>18時</th><th>19時</th><th>20時</th><th>21時</th><th>22時</th><th>23時</th>
                    </tr>
                </thead>
                <tbody id="checkbox-body">
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="確定">
        </form>
    </div>
</div>
<script>
    const workerList = JSON.parse('{{ worker|escapejs }}');
    const savedShifts_false = JSON.parse('{{ shift_list_json_false|safe }}');
    const savedShifts_True = JSON.parse('{{ shift_list_json_true|safe }}');

    const pad = n => n.toString().padStart(2,'0');

    const today = new Date();
    let currentYear = today.getFullYear();
    let currentMonth = today.getMonth();

    function renderCalendar(y,m){
        document.getElementById("monthYear").textContent = y + "年 " + (m + 1) + "月";

        const firstDay = new Date(y, m, 1).getDay();
        const lastDay = new Date(y, m + 1, 0).getDate();

        const calendarBody = document.getElementById("calendar-body");
        calendarBody.innerHTML = "";
        let row = document.createElement("tr");

        for(let i = 0; i < firstDay; i++){
            row.appendChild(document.createElement("td"));
        }

        for(let date = 1;date <= lastDay; date++){
            let cell = document.createElement("td");
            let button = document.createElement("button");
            button.className = "btn w-100"
            button.id = y + "-" + pad(m+1) + "-" + pad(date);
            if(savedShifts_True.some(s => s.date === button.id)){
                button.classList.add("btn-warning");
            }else if(savedShifts_false.some(s => s.date === button.id)){
                button.classList.add("btn-info");
            }
            button.textContent = date;

            //const prefix = y + "-" + pad((m+1)) + "-" + pad(date);

            cell.appendChild(button);

            row.appendChild(cell);
            if((firstDay + date) % 7 === 0){
                calendarBody.appendChild(row);
                row = document.createElement("tr");
            }
        }

        if(row.children.length > 0){
            calendarBody.appendChild(row);
        }
    }

    const primonth = document.getElementById("prior");
    const latmonth = document.getElementById("later");

    primonth.addEventListener("click", () =>{
        currentMonth--;
        if(currentMonth < 0){
            currentMonth = 11;
            currentYear--;
        }
        renderCalendar(currentYear, currentMonth);
    });

    latmonth.addEventListener("click", () => {
        currentMonth++;
        if(currentMonth > 11){
            currentMonth = 0;
            currentYear++;
        }
        renderCalendar(currentYear, currentMonth);
    });

    renderCalendar(currentYear, currentMonth);

    document.getElementById("calendar-body").addEventListener("click", (e) => {
        if(e.target.tagName === "BUTTON") {
            document.getElementById("checkbox").style.display = "block"
            const clickedId = e.target.id;

            const date = document.getElementById("monthYearTime");
            date.textContent = clickedId;

            const checkboxTable = document.getElementById("checkbox-body");
            checkboxTable.innerHTML = "";
            for(let i = 0; i < workerList.length; i++){
                let row = document.createElement("tr");
                let worker = workerList[i].username;
                for(let j = 0; j < 25; j++){
                    let cell = document.createElement("td");
                    if(j === 0){
                        cell.textContent = worker;
                    }else {
                        if(savedShifts_True.some(s => s.worker === worker && s.date === clickedId && s.time === pad(j-1)+":00")){
                            cell.className = "bg-warning";
                        }else if(savedShifts_false.some(s => s.worker === worker && s.date === clickedId && s.time === pad(j-1)+":00")){
                            let input = document.createElement("input");
                            input.type = "checkbox";
                            input.className = "btn w-100 btn-light";
                            input.name = "shift";
                            input.value = worker + "_" + clickedId + "_" + pad(j-1) + ":00";
                            cell.appendChild(input);
                        }
                    }
                    row.appendChild(cell);
                }
                checkboxTable.appendChild(row);
            }
        }
    });
</script>
{% endblock %}